# Dependencies
node_modules/

# Next.js
.next/
node_modules/
.next/
Frontend/client/.next/
Frontend/client/node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db